{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate 'Sign in' %}{% endblock %}

{% block content %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4"> 
{% translate 'Sign in' %}
    </h1>
<form method="post">
  {% csrf_token %}
  {% for error in form.non_field_errors %}
  <ul class="list-unstyled text-danger">
    <li>{{ error }}</li>
  </ul>
  {% endfor %}
<div class="mb-3">
  <label class="form-label" for="id_username">{% translate 'User name' %}</label>
  <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" placeholder="{% translate 'User name' %}" required="" id="id_username" value="{{ form.username.value|default_if_none:'' }}">
</div>
<div class="mb-3">
  <label class="form-label" for="id_password">{% translate 'Password' %}</label>
  <input type="password" name="password" autocomplete="current-password" class="form-control" placeholder="{% translate 'Password' %}" required="" id="id_password">
</div>
  <input class="btn btn-primary" type="submit" value="{% translate 'Sign in' %}">
</form>
  </div>
{% endblock %}