{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate 'Задачи' %}{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">
Создать задачу
    </h1>
<form action="{% url 'task_create' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="id_name">Имя</label>
        <input type="text" name="name" maxlength="150" class="form-control {% if form.name.errors %}is-invalid{% endif %} {% if form.name.value and form.is_bound %}is-valid{% endif %}" placeholder="Имя" required="" id="id_name" value="{{ form.name.value|default_if_none:'' }}">
        {% for error in form.name.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label class="form-label" for="id_description">Описание</label>
        <textarea name="description" cols="40" rows="10" class="form-control" placeholder="Описание" id="id_description">{{ form.description.value|default_if_none:'' }}</textarea>
    </div>
    <div class="mb-3">
        <label class="form-label" for="id_status">Статус</label>
        <select name="status" class="form-select" required="" id="id_status">
            <option value="" {% if not form.status.value %}selected{% endif %}>---------</option>
            {% for status in statuses %}
            <option value="{{ status.id }}" {% if status.id == form.status.value %}selected{% endif %}>{{ status.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="id_executor">Исполнитель</label>
        <select name="executor" class="form-select" id="id_executor">
            <option value="" {% if not form.executor.value %}selected{% endif %}>---------</option>
            {% for executor in executors %}
            <option value="{{ executor.id }}" {% if executor.id == form.executor.value %}selected{% endif %}>{{ executor.first_name }} {{ executor.last_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="id_labels">Метки</label>
        <select name="labels" class="form-select" id="id_labels" multiple="">
            {% for label in labels %}
            <option value="{{ label.id }}">{{ label.name }}</option>
            {% endfor %}
            <option value="1">Label</option>
        </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Создать">
</form>

  </div>
{% endblock %}